{
  "root": true,
  "env": {
    "node": true,
    "es6": true
  },
  "extends": ["airbnb-base", "plugin:prettier/recommended"],
  "plugins": ["prettier"],
  "settings": {
    "import/core-modules": ["aws-sdk"]
  },
  "rules": {
    "no-console": "off",
    "max-len": ["error", { "code": 100, "ignoreUrls": true }],
    "comma-dangle": ["error", "always-multiline"]
  }
}
