.eslintrc
.eslintignore
.editorconfig
.gitattributes
.gitignore
.github/
.prettierrc
.prettierignore
.serverless/
.travis.yml
.vscode/
*.tgz
CODE_OF_CONDUCT.md
SECURITY.md
jest-config.json
__tests__/
example/
coverage/
